@import url('https://fonts.googleapis.com/css?family=Fira+Mono');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,700');

*{
	margin:0;
	padding:0;
}
body{
	background-color: #121212;
	font-family: 'Quicksand', sans-serif;
	overflow: hidden;
}

.splash{
	height: 100%;
	width: 100%;
}
.hPane{
	height: 180px;
	padding-top: 5px;
	overflow: hidden;
	
	display: flex;
	justify-content: center;
	align-items: center;
}
.hPane .hText{
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 28px;
	user-select: none;
	-webkit-font-smoothing: antialiased;
}
.hPane .current{
	font-size: 60px;
	font-weight: bold;
	user-select: text;
}
.hPane .current span{
	float: left;
	text-align: center;
}
.hPane .current .r, .hPane .current .g, .hPane .current .b{
	width: 102px;
	
}
.hPane .play{
	position:fixed;
	pointer-events: none;
	width: 75px;
	height: 75px;
	border-radius: 75px;
	top: 60%;
	left: 50%;
	border: 2px solid rgba(255,255,255,0);
	margin-left: -45px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.2s ease;
}
.hPane .play:hover{
	border: 2px solid rgba(255,255,255,255);
	transition: 0.3s ease;
}
.hPane .play img{
	width: 0px;
	height: 0px;
	padding-left: 10px;
}
.hPane .play .img_grow{
	width: 60px;
	height: 60px;
	transition: 0.3s ease;
}

.controls{
	height: 20px;
	background-color: #fff;
	overflow: hidden;
}
.controls .contain{
	width: 480px;	
	height: 20px;
	margin: auto;
	transition: 0.3s ease;
}
.controls .newGame{
	width: 33%;
	margin-left: -20px;
	float:left;
}
.controls .newText{
	width: 90px;
	text-align: center;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	user-select: none;
	transition: 0.3s ease;
}
.controls .lives{
	width: 33%;
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	display: inline-block;
	margin:0 auto;
	margin-left: 20px;
	user-select: none;
	transition: 1.8s cubic-bezier(0.86, 0, 0.07, 1)
}
.controls .difficulty{
	width: 33%;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	font-weight: bold;
	float:right;
	margin-right: -20px;
}
.controls .easy, .controls .hard{
	width: 50px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	float:right;
	cursor: pointer;
	user-select: none;
	transition: 0.3s ease;
}
.paletteCon{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 10px 0;
}
.palette{
	max-width: 440px;
	margin: auto;
}
.palette .item{
	float: left;
	transition: 0.15s ease;
}
.palette .item:hover{
	background-color: #fff;
	transition: 0.15s ease;
}
.palette .fade_item{
	opacity: 0;	
	border: 0px solid transparent;
	border-radius: 0;
}
.palette .fade_itemC{
	opacity: 0;	
	border: 0px solid transparent;
	border-radius: 100px;
	transition: 1.2s cubic-bezier(0.86, 0, 0.07, 1);
}

.replay{
	position:fixed;
	width: 60px;
	height: 60px;
	border-radius:60px; 
	background-color: rgba(255, 255, 255, 0.1);
	border: 4px solid #fff;
	top: 60%;
	left: 50%;
	margin-left: -30px;
	display: none;
	justify-content: center;
	align-items: center;
	opacity: 0;
}
.replay img{
	width: 35px;
	height: 35px;
	animation:spin 4s linear infinite;
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@media only screen and (max-width: 600px) {
	.controls .contain{
		width: 80%;	
	}
	.hPane .current{
		font-size: 35px;
	}
	.controls .easy, .controls .hard{
		width: 40px;
		font-size: 12px;
	}
	.controls .newText{
		width: 75px;
		font-size: 12px;
		font-weight: bold;
	}
	.hPane .current .r, .hPane .current .g, .hPane .current .b{
		width: 60px;
	}
}