@import url('https://fonts.googleapis.com/css?family=Quicksand');

*{
	margin:0;
	padding:0;
	overflow: hidden;
}
body{
	background: url("back.svg") no-repeat center center fixed;
	background-color: #fff;
	background-repeat: repeat;
	font-family: 'Quicksand', sans-serif;
	overflow: hidden;
}

.splash{
	height: 100%;
	width: 100%;
}
.hPane{
	position: relative;
	height: 180px;
	padding-top: 5px;
	overflow: hidden;
	z-index: 100;
	
	display: flex;
	justify-content: center;
	align-items: center;
}
.hPane .hText{
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 28px;
	user-select: none;
	-webkit-font-smoothing: antialiased;
}
.hPane .current{
	font-size: 60px;
	font-weight: bold;
	user-select: text;
	display: flex;
	justify-content: center;
	align-items: center;
}
.hPane .current span{
	float: left;
	text-align: center;
}
.hPane .current .r, .hPane .current .g, .hPane .current .b{
	width: 100px;
	
}
.hPane .play{
	position:fixed;
	pointer-events: none;
	width: 75px;
	height: 75px;
	border-radius: 75px;
	z-index: 101;
	top: 60%;
	left: 50%;
	border: 2px solid rgba(255,255,255,0);
	margin-left: -45px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.2s ease;
}
.hPane .play:hover{
	border: 2px solid rgba(255,255,255,255);
	transition: 0.3s ease;
}
.hPane .play img{
	width: 0px;
	height: 0px;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	padding-left: 8px;
}
.hPane .play .img_grow{
	width: 60px;
	height: 60px;
	transition: 0.3s ease;
}

.controls{
	height: 20px;
	background-color: #fff;
	overflow: hidden;
	box-shadow: 0px 0px 20px 5px #888888;
}
.controls .contain{
	overflow: visible;
	width: 95%;
	max-width: 520px;	
	height: 20px;
	margin: auto;
	transition: 0.3s ease;
}
.controls .newGame{
	width: 33%;
	float:left;
	pointer-events: none;
}
.controls .newText{
	width: 90px;
	text-align: center;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	font-weight: bold;
	user-select: none;
	transition: 0.3s ease;
}
.controls .lifeWrap{
	width: 33%;
	height: 20px;
	line-height: 20px;	
	float: left;
	padding: 2px;
	user-select: none;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 1.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.controls .heart {
	position:relative;
	width:0px;
	height:16px;
	float: left;
	margin: 2px;
	transition: 0.3s ease;
}

.controls .heart:before, .controls .heart:after {
	position:absolute;
	content:"";
	left:8px;
	top:0;
	width:8px;
	height:12.8px;
	background:#F0F00F;
	-moz-border-radius:12.8px 12.8px 0 0;
	border-radius:12.8px 12.8px 0 0;
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	transform:rotate(-45deg);
	-webkit-transform-origin:0 100%;
	-moz-transform-origin:0 100%;
	-ms-transform-origin:0 100%;
	-o-transform-origin:0 100%;
	transform-origin:0 100%;
}
.controls .heart:after {
	left: 0;
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	transform:rotate(45deg);
	-webkit-transform-origin:100% 100%;
	-moz-transform-origin:100% 100%;
	-ms-transform-origin:100% 100%;
	-o-transform-origin:100% 100%;
	transform-origin:100% 100%;
}
.controls .difficulty{
	width: 33%;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	font-weight: bold;
	float:left;
}
.controls .easy, .controls .hard{
	width: 50px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	float:right;
	user-select: none;
	transition: 0.3s ease;
}
.paletteCon{
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
}
.palette{
	max-width: 440px;
}
.palette .item{
	float: left;
	transition: 0.15s ease;
}
.palette .item:hover{
	background-color: #fff;
	transition: 0.15s ease;
}
.palette .fade_item{
	opacity: 0;	
	border: 0px solid transparent;
	border-radius: 0;
}
.palette .fade_itemC{
	opacity: 0;	
	border: 0px solid transparent;
	border-radius: 100px;
	transition: 1.2s cubic-bezier(0.86, 0, 0.07, 1);
}

.replay{
	position:fixed;
	pointer-events: none;
	width: 75px;
	height: 75px;
	border-radius: 75px;
	z-index: 101;
	top: 60%;
	left: 50%;
	border: 2px solid rgba(255,255,255,0);
	margin-left: -45px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.2s ease;
}
.replay:hover{
	border: 2px solid rgba(255,255,255,255);
	transition: 0.3s ease;
}
.replay img{
	width: 0px;
	height: 0px;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	animation:spin 3s linear infinite;
}
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@media only screen and (max-width: 600px) {
	.controls .contain{
		width: 80%;	
	}
	.hPane .current{
		font-size: 35px;
	}
	.controls .easy, .controls .hard{
		width: 40px;
		font-size: 12px;
	}
	.controls .newText{
		width: 75px;
		font-size: 12px;
		font-weight: bold;
	}
	.hPane .current .r, .hPane .current .g, .hPane .current .b{
		width: 65px;
	}
}